body {
   font-family: Arial, sans-serif;
   /* background: url("image/토트넘.png");
   background-size: 50% 170%;
   background-repeat: no-repeat;
   background-position: center top; */
   background-color: #f4f4f4;
   margin: 0;
}

.player-profile {
   display: flex;
   max-width: 800px;
   margin: 50px auto;
   padding: 20px;
   background-color: #fff;
   border-radius: 10px;
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.player-image {
   text-align: center;
}

.player-image img {
   max-width: 100%;
}

.player-details {
   flex: 1;
   text-align: left;
}

.player-details::after {
   content: "";
   clear: both;
}


