body {
   font-family: 'Lobster', sans-serif;
   padding: 0px;
   margin: 0px;
   font-size: 18px;
   background-image: linear-gradient(
      rgba(256,256,256,.3),
      rgba(256,256,256,.3)
   ), url("image/back.jpeg");
   background-repeat: no-repeat;
   background-size: 100% 120%;
   
}
#box {
   position: relative;
   height: auto;
}
#logout {
   position: absolute;
   right: 10px;
   font-size: 10px
}
a {
   cursor: pointer;
}

#top {
   height: 150px;
   font-size: 45px;
   font-weight: bold;
   text-align: center;
   top: 50px;
   position: relative;
}
#main {
   font-size: 30px;
   text-align: center;
   height: 500px;
   width: 100%;
   vertical-align: middle;
   display: flex;
   flex-direction: row;
   position: relative;
   align-items: center;
}
#pl, #laliga, #bundesliga, #serie_a, #ligue1 {
   height: 300px;
   width: 20%;
   cursor: pointer;
}
img {
   height: 250px;
   width: 80%;
   vertical-align: middle;
   cursor: pointer;
}
